.catalog-container{
    margin-top:30px;
    margin-left: 40px;
    margin-right: 40px;
}

.catalog-title{
    font-size: 24px;    
    letter-spacing: -0.015em;
    height:60px;
    line-height: 60px;
}

.catalog-products{
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 245px);
    grid-gap: 30px;
    justify-content: space-between;
}