.main-nav{
    height: 70px;
    color: #ffffff;
    align-items: center;
    padding-left: 40px;
    margin-left: 0;
    margin-right: 0;
}

.nav-logo-text{
    color: #fff;
}

.main-menu{
    display: flex;
      
    justify-content: center;  
    
  
    li{
        padding-left: 40px;
        padding-right: 40px;
    }
    
}

.nav-rigth{
    padding-right: 40px;
}

.nav-link{
    font-size: 18px; 
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);

    &.active{
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
    }

    &:hover{
        color: rgba(255, 255, 255, 1);
    }

}

.dp-menu{    
    color: rgba(255, 255, 255, 1);

    &:hover{        
        color: rgba(255, 255, 255, 1);
    }
}