.product-card{
    padding:20px 20px 30px 20px;
    text-align: center;
}

.product-info{
    margin-top: 15px;
    border-top: 1px solid #E1E1E1;
}

.product-name{
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    padding-top: 15px;
    color: #263238;
    margin-bottom: 25px;
}

.product-card-image{
    width: 160px;
    height: 160px;
}


@media(max-width: 768px){
    .product-card{
        padding: 10px 10px 30px 10px;
    }
}