.auth-card {
    padding: 95px 50px 50px 50px;
    border-radius: 20px;
    width: 550px;
    margin-left: 50px;
}

.auth-card-title{
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #263238;
    margin-bottom: 85px;
}


@media(max-width:576px){
    .auth-card{
        margin: 0 auto;
        width: 90vw;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}